#barra{
	position: fixed;
	height: 15vh;
	background: #d9d3c1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#minerva{
	width: 8%
}

nav{
	width: 80vw;
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly; 
	align-items: center; 
	flex-wrap: wrap; 
}
nav a{
	text-transform: uppercase;
	font-size: 25px;
	color: #582308;
	font-family: fantasy, sans-serif;
	display: inline;
	justify-content: space-between;
	text-decoration: none;
}

nav li {
	display: inline;
	margin: 0 0 0 15px; /* sup dir inf esq */
}

nav ul {
	width: 80vw;
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly; 
	align-items: center; 
	flex-wrap: wrap; 
}


#introducao{
	height: 100vh;
	background-image: url("../imagens/mapa_linhas.jpg");
	background-position: center;
	display: flex;
	align-items: center;
	background-size: cover;
	flex-direction: row-reverse;
}

#texto_introducao{
	background-color: rgba(255,255,255,0.5);
	padding: 20px 70px 20px 40px;
}

#texto_introducao h1{
	display: flex;
	flex-direction: row-reverse;
	text-transform: uppercase;
	font-size: 40px;
	color: #582308;
	font-family: fantasy, sans-serif;
	padding-bottom: 25px;
}

#texto_introducao p{
	font-size: 25px;
	font-family: Gill Sans Extrabold, sans-serif;
	text-align: right;
}

.texto_esquerda{
	display: flex;
	height: 85vh;
	align-items: center;
	padding: 20px 40px 20px 70px;
}

#projeto{
	background-color: #8abf9c;
	justify-content: space-between;
}

#mapa_europa{
	width: 30vw;
	padding-right: 30px;
}

.texto_branco h1{
	display: flex;
	text-transform: uppercase;
	font-size: 40px;
	color: #FFFFFF;
	font-family: fantasy, sans-serif;
	padding-bottom: 25px;
}

.texto_branco p{
	font-size: 25px;
	font-family: Gill Sans Extrabold, sans-serif;
	color: #FFFFFF;
}

.backgrounds{
	background-position: center;
	display: flex;
	align-items: center;
	background-size: cover;
	height: 85vh;
}

.fundo_branco{
	background-color: rgba(255,255,255,0.5);
	padding: 20px 40px 20px 70px;
}

.fundo_branco h1{
	text-transform: uppercase;
	font-size: 40px;
	color: #582308;
	font-family: fantasy, sans-serif;
	padding-bottom: 25px;
}

.fundo_branco p{
	font-size: 25px;
	font-family: Gill Sans Extrabold, sans-serif;
}

#o_imperio{
	background-image: url("../imagens/desembarque.jpg");
}

#colabore{
	background-image: url("../imagens/namban.jpg");
}

#desenvolvimento{
	background-image: url("../imagens/code.jpg");
}

#como_usar{
	background-color: #8abf9c;
}

#referencias{
	background-color: #582308;
}